<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Check whether two words are anagrams of each other" />
    <meta name="author" content="Siim Vaus" />
    <title>Anagram Checker</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/custom.css">
</head>

<body>
    <!-- Page content-->
    <div class="container">
        <div class="text-center mt-5 col-8 mx-auto">
            <h1>Anagram Checker</h1>
            <p class="lead">Check whether two words are anagrams of each other</p>
            <form method="post" action="/check-anagram" class="needs-validation" id="registration-form" novalidate
                autocomplete="off">
                <input class="form-control mt-5 mb-3" type="text" placeholder="Type your first word here" name="wordOne"
                    required>
                <input class="form-control mb-3" type="text" placeholder="Type your second word here" name="wordTwo"
                    required>
                <button type="submit" class="btn btn-secondary col-12 mb-4" name="submit">Check</button>
            </form>
            {{ if eq .isAnagram true }}
            <div class="alert alert-success" {{ if not .message }}style="display:none;"{{end}}>
                {{.message}}
            </div>
            {{ end }}
            {{ if eq .isAnagram false }}
            <div class="alert alert-danger" {{ if not .message }}style="display:none;"{{end}}>
                {{.message}}
            </div>
            {{ end }}
            <div class="col-12">
                <p class="contact">Source code of this project</p>
                <svg class="contact-arrow" xmlns="http://www.w3.org/2000/svg"
                    height="10" width="70" viewBox="0 0 123.85 12.57">
                    <path
                        d="M60.09.07A261.23,261.23,0,0,0,15.3,5.13C11.35,6.6,1.76,6.93,0,10.5a1.11,1.11,0,0,0,1.36.77C10.8,7.86,20.79,6.15,30.7,4.76l-.3,0c24.23-3.16,49-3.54,73.16.35a154,154,0,0,1,18.85,4.33,1.15,1.15,0,0,0,1.4-.79c-1.66-3.57-13-4.09-17.11-5.53C91.32.38,75.69-.23,60.09.07Z"
                        fill="currentColor"></path>
                    <path d="M109.1.57c-.73,3.33,8.28,4.55,10.41,7.11,1.67,2.26,5.58,2.91,3.95-.75-2.7-2.34-11.21-8.29-14.36-6.36Z"
                        fill="currentColor"></path>
                    <path d="M121.27,6.28C118,7.8,107,7,107.16,11.28c2.2,3.51,11.31-1.23,15.17-1.16,2.49-.63,1.42-4.57-1.06-3.84Z"
                        fill="currentColor"></path>
                </svg>
            </div>
            <a href="https://github.com/Wauchy/anagram-checker.git" class="github">
                <img src="assets/github.png" alt="Anagram Checker" style="width:42px;height:42px;">
            </a>
        </div> 
    </div>
</body>

</html>