@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
  color: #fff;
  background-color: #212529;
}

.contact {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  transform: rotate(20deg);
  margin-top: 7em;
}

.contact-arrow {
  margin-right: 70px;
  transform: rotate(160deg);
}

.github {
  padding-right: 240px;
}
